body {
  background: url("../img/background.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.msg{
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  height: 80%;
  width: 50%;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}


.msg a img {
  padding: 10px;
  height: 80px;
  width: 80px;
  margin-left: 20vw

}


.msg img{
  height: 40%;
  width: 50%;
  margin-left: 12vw;
  padding-top: 10px;
}
